DB_NAME=main_db
DB_HOST=localhost
DB_USERNAME=user
DB_PORT=5433
DB_PASSWORD=password
DB_DRIVER=postgresql+asyncpg # mysql+asyncmy
APP_PORT=8000

DOCKER_APP_NAME=main_fastapi_app
DEBUG=True
KEY=123
TEST_DB_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/test_db